<div class="wfp--theme-light wfp--theme-en">
  <div style="min-width:30rem;margin-bottom:.5rem" kind="{{kind}}" class="wfp--toast-notification wfp--toast-notification--{{kind}} {{ lowContrast ? 'wfp--toast-notification--low-contrast'}}">
    <svg class="wfp--toast-notification__icon" fill-rule="evenodd" height="16" viewBox="0 0 16 16" width="16" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
      <title>Provide a description that will be used as the title</title>
      <path d="M8 16A8 8 0 118 0a8 8 0 010 16zM4 4.65L11.35 12l.65-.65L4.65 4 4 4.65z"></path>
    </svg>
    <div class="wfp--toast-notification__details">
      <h3 class="wfp--toast-notification__title">{{title}}</h3>
      <div class="wfp--toast-notification__subtitle">{{subtitle}}</div>
      <div class="wfp--toast-notification__caption">{{caption}}</div>
    </div>
        <button type="button" aria-label="describes the close button" title="describes the close button" class="wfp--toast-notification__close-button">
        <svg class="wfp--toast-notification__close-icon" fill-rule="evenodd" height="10" viewBox="0 0 10 10" width="10" aria-label="Provide a description that will be used as the title" alt="Provide a description that will be used as the title">
        <title>Provide a description that will be used as the title</title>
        <path d="M6.32 5L10 8.68 8.68 10 5 6.32 1.32 10 0 8.68 3.68 5 0 1.32 1.32 0 5 3.68 8.68 0 10 1.32 6.32 5z"></path>
        </svg>
        </button>
  </div>
</div>