<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--form-item">
  <label class="wfp--label">{{labelText}}</label>
  <textarea placeholder="{{placeholder}}" rows="4" name="inputname" cols="{{cols}}" class="wfp--text-area {{fullWidth ? 'wfp--textarea-fullwidth'}}"></textarea>
    <div class="wfp--form__helper-text">{{helperText}}</div>
  </div>
</div>