<div class="wfp--main-navigation">
  <div class="wfp--wrapper wfp--wrapper--width-md wfp--wrapper--width-mobile-full wfp--main-navigation__wrapper">
    <div class="wfp--main-navigation__logo-wrapper"><button tabindex="0" class="wfp--main-navigation__button wfp--btn wfp--btn--primary" type="button">{{ menu_title }}</button>
      <div class="wfp--main-navigation__logo">{{ menu_logo }}</div>
    </div>
    <ul class="wfp--main-navigation__list">
      {% if menu_items %}
        {% for item in menu_items %}
            {% if not item.sub_navigation %}
              <li class="wfp--main-navigation__item">
                <div class="wfp--main-navigation__trigger"><a href="{{ item.path }}" class="wfp--link"{{ item.target ? ' target="' ~ item.target ~ '"'}}>{{ item.label }}</a></div>
              </li>
            {% else %}
              <li class="wfp--main-navigation__item">
                <div class="wfp--main-navigation__trigger wfp--main-navigation__trigger--has-sub">
                  <a class="wfp--link">{{ item.label }}
                    <svg class="wfp--main-navigation__trigger__icon" fill="#FFFFFF" fill-rule="evenodd" height="5" viewBox="0 0 10 5" width="10">
                      <path d="M0 0l5 4.998L10 0z"></path>
                    </svg>
                  </a>
                </div>
                <div class="wfp--main-navigation__sub">
                  <div>
                    {% if item.sub_navigation.lists %}
                      <div class="wfp--sub-navigation__content">
                        {% for list in item.sub_navigation.lists %}
                          <div class="wfp--sub-navigation__list">
                            <div class="wfp--sub-navigation__group wfp--sub-navigation__group--columns">
                              <h3 class="wfp--sub-navigation__group__title">{{ list.title }}</h3>
                              <div>
                                {% for item in list.menu_items %}
                                  <div class="wfp--sub-navigation__item"><a href="{{ item.path }}" class="wfp--link"{{ item.target ? ' target="' ~ item.target ~ '"'}}>{{ item.title }}</a></div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endif %}
        {% endfor %}
      {% endif %}


      <li class="wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger">
          <div class="wfp--search wfp--search--main">
            <svg class="wfp--search-magnifier" fill-rule="evenodd" height="16" viewBox="0 0 16 16" width="16" aria-label="{{ search }}" alt="{{ search }}">
              <title>{{ search }}</title>
              <path d="M11.435 10.063h-.728l-.251-.252a5.89 5.89 0 001.437-3.865 5.946 5.946 0 10-5.947 5.947 5.91 5.91 0 003.865-1.432l.252.251v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0a4.117 4.117 0 110-8.234 4.117 4.117 0 010 8.234z"></path>
            </svg>
            <label for="search-2" class="wfp--label">{{ search }}</label>
            <input type="text" class="wfp--search-input" id="search-2" placeholder="{{ search }}" />
            <button class="wfp--search-close wfp--search-close--hidden" type="button">
              <svg fill-rule="evenodd" height="16" viewBox="0 0 16 16" width="16" aria-label="{{ search_alt }}" alt="{{ search_alt }}">
                <title>{{ search_alt }}</title>
                <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z"></path>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="wfp--main-navigation__user wfp--main-navigation__item">
        <div class="wfp--main-navigation__trigger wfp--main-navigation__trigger--has-sub">
          <span>{{ current_lang }}
          {% if languages %}
            <svg class="wfp--main-navigation__trigger__icon" fill="#FFFFFF" fill-rule="evenodd" height="5"  viewBox="0 0 10 5" width="10">
              <path d="M0 0l5 4.998L10 0z"></path>
            </svg>
          {% endif %}
          </span>
        </div>
        {% if languages %}
          <div class="wfp--main-navigation__sub">
            <div>
              <div class="wfp--sub-navigation__header">
                <div class="wfp--sub-navigation__title">{{ choose_language_label }}</div>
              </div>
              <div class="wfp--sub-navigation__content">
                <div class="wfp--sub-navigation__list">
                  <div class="wfp--sub-navigation__group">
                    <div>
                      {% for lang in languages %}
                        <div class="wfp--sub-navigation__item">
                          <a href="{{ lang.path }}" class="wfp--link">{{ lang.title }}
                            {% if lang.native %}
                              <i>({{ lang.native }})</i>
                            {% endif %}
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </li>
    </ul>
  </div>
</div>