<div class="wfp--theme-light wfp--theme-en"><a href="#" target="" class="wfp--photo-card wfp--photo-card--{{kind}} wfp--photo-card--link">
    <div class="wfp--photo-card__background" style="background-image:url({{image}})"></div>
    <div class="wfp--photo-card__info">
      <div>
        <div class="wfp--photo-card__info__background" style="background-image:url({{image}})"></div>
        <h3 class="wfp--photo-card__info__title">{{title}}</h3>
        <p class="wfp--photo-card__info__subtitle">{{subTitle}}</p>
      </div>
    </div>
  </a></div>