<a href="{{ url }}" target="" class="wfp--photo-card wfp--photo-card--landscape wfp--photo-card--link">
    <div class="wfp--photo-card__background" style="background-image:url({{ image }})"></div>
    <div class="wfp--photo-card__info">
      <div>
        <div class="wfp--photo-card__info__background" style="background-image:url({{ image }})"></div>
        <h3 class="wfp--photo-card__info__title">{{ hero_title }}</h3>
        <p class="wfp--photo-card__info__subtitle">{{ hero_subtitle }}</p>
      </div>
    </div>
</a