<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--empty wfp--empty--large">
    {% if image %}
    <div class="wfp--empty__icon"><img alt="{{img_alt}}" src="{{image}}" /></div>
    {% endif %}
    <div class="wfp--empty__text">
      <h2>{{title}}</h2>
      <p>{{content}}</p>
    </div>
    <div class="wfp--empty__button"><button tabindex="0" class="wfp--btn wfp--btn--accent" type="button">{{btn_text}}</button></div>
  </div>
</div>