<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--module {{dark ? 'wfp--module--dark'}} {{light ? 'wfp--module--light'}}">
    <div class="wfp--module__inner">
      <div class="wfp--module__header">
        <h1 class="wfp--module__title">{{header_title}}</h1>
      </div>
      <div class="wfp--module__content">
        <p>{{content}}</p>
      </div>
      <div class="wfp--module__footer">{{footer_title}}</div>
    </div>
  </div>
</div>