<div class="wfp--theme-light wfp--theme-en">
  <div class="wfp--form-item wfp--form-item--invalid wfp--slider--wrapper wfp--slider--helpertext"><label for="slider2" class="wfp--label">{{labelText}}</label>
    <div class="wfp--form__helper-text">{{helperText}}</div>
    <div class="wfp--input-wrapper">
      <div class="wfp--slider-container {{fullWIdth? 'wfp--slider-container--full-width'}}"><span class="wfp--slider__range-label">{{min}}</span>
        <div class="wfp--slider__range-wrapper">
          <div class="wfp--slider__range-before" style="width:37.5%"></div><input type="range" class="wfp--slider" name="Form item name (name)" value="25" id="slider2" max="{{max}}" min="{{min}}" step="1" />
        </div><span class="wfp--slider__range-label">{{max}}</span>
        <div class="wfp--form-item wfp--form-item--invalid"><label for="input-for-slider" class="wfp--label wfp--visually-hidden"></label>
          <div class="wfp--input-wrapper"><input type="number" value="25" aria-label="Slider number input" id="input-for-slider" class="wfp--input wfp--input wfp--slider-text-input" /></div>
        </div>
      </div>
    </div>
  </div>
</div>